<header class="main-header">
    <div class="container header-content">
        <div class="logo">
            <a href="/">
                <img src="img/bookPhoto.jpg" class="logo-icon" alt="Logo">
                <h1><span class="highlight">Czytaj</span>Zamiast</h1>
            </a>
        </div>
        
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="Szukaj książki lub autora...">
        </div>

        <div class="auth-buttons">
            <button id="theme-toggle" class="btn-outline" style="border: none; padding: 5px 10px; background: transparent;">
                <img src="img/moon.png" class="moon-icon" alt="Moon">
                <img src="img/sun.png" class="sun-icon" alt="Sun">
            </button>
            <button id="btn-login" class="btn-outline">Zaloguj</button>
            <button id="btn-register" class="btn-primary">Zarejestruj</button>
        </div>
    </div>
</header>
