<header class="main-header">
    <div class="container header-content">
        <div class="logo">
            <h1>📚 CzytajZamiast</h1>
        </div>
        
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="Szukaj książki lub autora...">
        </div>

        <div class="auth-buttons">
            <button id="theme-toggle" class="btn-outline" style="border: none; padding: 5px 10px; background: transparent;" title="Змінити тему">
                <img src="moon.png" class="moon-icon" alt="Місяць">
                <img src="sun.png" class="sun-icon" alt="Сонце">
            </button>
            
            <button id="btn-login" class="btn-outline">Zaloguj</button>
            <button id="btn-register" class="btn-primary">Zarejestruj</button>
        </div>
    </div>
</header>
